<!DOCTYPE html>
<html>
<head>
    <title>goereferenced points</title>
</head>
<body>
    <h1>Add goereferenced points</h1>
    
    {% if message %}
    <pre>{{ message | safe }}</pre>
    {% endif %}
    
    <form method="POST">
        <label for="Num">Enter the number of extra surveyed points:</label>
        <input type="text" id="Num" name="Num">
        <input type="submit" value="Set">
    </form>

    <div id="tableContainer">
        <!-- Use Jinja2 to generate the table based on the table_content data -->
        {% if table_content %}
        <table border="1">
            <tr>
                <th>x</th>
                <th>y</th>
                <th>z</th>
                <th>x'</th>
                <th>y'</th>
                <th>z'</th>
            </tr>
            {% for row in table_content %}
            <tr>
                <td>{{ row['x'] }}</td>
                <td>{{ row['y'] }}</td>
                <td>{{ row['z'] }}</td>
                <td>{{ row['x_prime'] }}</td>
                <td>{{ row['y_prime'] }}</td>
                <td>{{ row['z_prime'] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>
