<!DOCTYPE html>
<html>
<head>
    <title>Update goereferenced Points</title>
</head>
<body>
    <h1>Create Table</h1>
    
    {% if message %}
    <pre>{{ message | safe }}</pre>

    <!-- {% if message.endswith("______") %}
    <form method="POST" action="/survey">
        <input type="submit" value="Next">
        <a href="/"><input type="button" value="Back"></a>
    </form>
    {% endif %} -->
    {% endif %}
    
    <form method="POST">
        <label for="Num">Enter the number of extra points:</label>
        <input type="text" id="Num" name="Num">
        <input type="submit" value="Set">
    </form>
</body>
</html>
