<!DOCTYPE html>
<html lang="en">
<head>
    <title>IfcGref Viewer</title>
    <link rel="icon" type="image/x-icon" href="../static/images/flavicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/templates/main.css" />
    <style>
        body { margin: 0; padding: 0; }
        html, body, #map { height: 100%; }
        #changeMapButton {
            position: absolute;
            bottom: 10px;  /* Change this from top to bottom */
            left: 10px;
            z-index: 10;
            padding: 10px;
            background-color: #008CBA;
            color: white;
            border: none;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #logo1 {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 20;
            width: 100px;

        }
        #logo2 {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 20;
            width: 100px;

        }
    </style>
</head>
<body>

<div id="map"></div>
<div id="radioGroup" style="position: absolute; bottom: 60px; left: 10px; z-index: 10;">
    <label>
        <input type="radio" name="toggle" value="0" checked> BIM local zero
    </label>
    <label>
        <input type="radio" name="toggle" value="1"> BIM lowest level
    </label>
</div>
<button id="changeMapButton">Change Map</button>
<img id="logo1" src="../static/images/logo1.png" alt="logo1" />
<a href="https://3d.bk.tudelft.nl/"><img id="logo2" src="../static/images/logo2.png" alt="logo2"> </a>
<script src='https://unpkg.com/maplibre-gl@4.3.2/dist/maplibre-gl.js'></script>
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.3.2/dist/maplibre-gl.css' />

<script type="importmap">
    {
        "imports": {
            "three": "/templates/build/three.module.js",
            "three/addons/": "/templates/jsm/",
            "three/examples/jsm/utils/BufferGeometryUtils": "/templates/jsm/utils/BufferGeometryUtils.js",
            "three-mesh-bvh": "https://cdn.jsdelivr.net/npm/three-mesh-bvh@0.5.23/build/index.module.js",
            "web-ifc": "https://cdn.jsdelivr.net/npm/web-ifc@0.0.36/web-ifc-api.js",
            "web-ifc-three": "https://cdn.jsdelivr.net/npm/web-ifc-three@0.0.126/IFCLoader.js"
        }
    }
</script>

<script type="module">
    // var Lat = 52.08285254645348;
    // var Long = 4.31609264460997;
    // var fn = '413_AR_AP_510_2025_PRAHA_GOA_V4_8.ifc';
    // var Rot = 0.014690158531237554;
    // var sc =1;
    // var OGx = 0;
    // var OGy = 0;
    // var scCRS = 0.9985;
    // var lz = -1;
    var OGx = '{{ Gx }}';
    var OGy = '{{ Gy }}';
    var Lat = '{{ Latitude }}';
    var Long = '{{ Longitude }}';
    var fn = '{{filename}}';
    var Rot = '{{Rotate}}';
    var sc = '{{Scale}}';
    var scCRS = '{{ScaleCRS}}';
    var lz = '{{LowestLevel}}'
    var org = [0,0,0];


    import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    import { IFCLoader } from 'web-ifc-three';
    import { IFCSPACE } from 'web-ifc';

    let scene, renderer, map, customLayer, ifcLoader;
    let currentStyleIndex = 0;

    const styles = [
        'https://api.maptiler.com/maps/openstreetmap/style.json?key=0WhPYrwttynpLXQDYYip',
        'https://api.maptiler.com/maps/streets-v2/style.json?key=0WhPYrwttynpLXQDYYip',
        'https://api.maptiler.com/maps/satellite/style.json?key=0WhPYrwttynpLXQDYYip',
    ];

    async function init() {

        // Initialize Map
        map = new maplibregl.Map({
            container: 'map',
            // style: 'https://api.maptiler.com/maps/streets-v2/style.json?key=0WhPYrwttynpLXQDYYip',
            // style: 'https://api.maptiler.com/maps/openstreetmap/style.json?key=0WhPYrwttynpLXQDYYip',
            style: styles[currentStyleIndex],
            zoom: 18,
            center: [Long, Lat],
            pitch: 60,
            antialias: true
        });

        const modelOrigin = [Long, Lat];
        const modelAltitude = 0;
        const modelRotate = [Math.PI / 2, Rot, 0];
        const modelAsMercatorCoordinate = maplibregl.MercatorCoordinate.fromLngLat(modelOrigin, modelAltitude);
        const customTranslateX = org.at(0) * modelAsMercatorCoordinate.meterInMercatorCoordinateUnits();
        const customTranslateY = org.at(1) * modelAsMercatorCoordinate.meterInMercatorCoordinateUnits();
        const customTranslateZ = org.at(2) * modelAsMercatorCoordinate.meterInMercatorCoordinateUnits();


        // const customTranslateX = 0.000002;
        const modelTransform = {
            translateX: modelAsMercatorCoordinate.x + customTranslateX,
            translateY: modelAsMercatorCoordinate.y + customTranslateY,
            translateZ: modelAsMercatorCoordinate.z + customTranslateZ,
            rotateX: modelRotate[0],
            rotateY: modelRotate[1],
            rotateZ: modelRotate[2],
            scale: modelAsMercatorCoordinate.meterInMercatorCoordinateUnits()
        };
        var BIMscale = modelTransform.scale*scCRS*sc*0.9985;
        // Scene
        scene = new THREE.Scene();
        // scene.background = new THREE.Color(0x8cc7de);

        // Lights
        const directionalLight1 = new THREE.DirectionalLight(0xffeeff, 2.5);
        directionalLight1.position.set(1, 1, 1);
        scene.add(directionalLight1);

        const directionalLight2 = new THREE.DirectionalLight(0xffffff, 2.5);
        directionalLight2.position.set(-1, 0.5, -1);
        scene.add(directionalLight2);

        const ambientLight = new THREE.AmbientLight(0xffffee, 0.75);
        scene.add(ambientLight);

        // Setup IFC Loader
        ifcLoader = new IFCLoader();
        await ifcLoader.ifcManager.setWasmPath('https://cdn.jsdelivr.net/npm/web-ifc@0.0.36/', true);
        await ifcLoader.ifcManager.parser.setupOptionalCategories({ [IFCSPACE]: false });
        await ifcLoader.ifcManager.applyWebIfcConfig({ USE_FAST_BOOLS: true });
        const filePath = '/uploads/' + fn;
        ifcLoader.load(filePath, function (model) {
            model.mesh.position.set(-OGx, 0, OGy);
            scene.add(model.mesh);
            const boundingBox = new THREE.Box3().setFromObject(model.mesh);
            lz = boundingBox.min.y;
            render();
        });

        // Renderer
        renderer = new THREE.WebGLRenderer({
            canvas: map.getCanvas(),
            context: map.painter.context.gl,
            antialias: true
        });
        renderer.autoClear = false;

        customLayer = {
            id: '3d-model',
            type: 'custom',
            renderingMode: '3d',
            onAdd: function(map, gl) {
                this.map = map;
                this.renderer = renderer;
                this.scene = scene;
                this.camera = new THREE.PerspectiveCamera();
            },
            render: function(gl, matrix) {
                const rotationX = new THREE.Matrix4().makeRotationAxis(new THREE.Vector3(1, 0, 0), modelTransform.rotateX);
                const rotationY = new THREE.Matrix4().makeRotationAxis(new THREE.Vector3(0, 1, 0), modelTransform.rotateY);
                const rotationZ = new THREE.Matrix4().makeRotationAxis(new THREE.Vector3(0, 0, 1), modelTransform.rotateZ);

                const m = new THREE.Matrix4().fromArray(matrix);
                const l = new THREE.Matrix4()
                    .makeTranslation(modelTransform.translateX, modelTransform.translateY, modelTransform.translateZ)
                    .scale(new THREE.Vector3(BIMscale,-BIMscale,BIMscale))
                    .multiply(rotationX)
                    .multiply(rotationY)
                    .multiply(rotationZ);

                this.camera.projectionMatrix = m.multiply(l);
                const clippingPlane = new THREE.Plane(new THREE.Vector3(0, 1, 0), org[2]);
                this.renderer.clippingPlanes = [clippingPlane];
                this.renderer.localClippingEnabled = true;
                this.renderer.resetState();
                this.renderer.render(this.scene, this.camera);
                this.map.triggerRepaint();
            }
        };

        map.on('style.load', () => {
            map.addLayer(customLayer);
        });

        window.addEventListener('resize', onWindowResize);
        render();
    }

    function onWindowResize() {
        customLayer.camera.aspect = window.innerWidth / window.innerHeight;
        customLayer.camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
        render();
    }

    function render() {
        if (customLayer.camera) {
            renderer.render(scene, customLayer.camera);
        }
    }

    async function toggleMapStyle() {
        currentStyleIndex = (currentStyleIndex + 1) % styles.length;
        map.setStyle(styles[currentStyleIndex]);
        init();
        renderer.render(scene, customLayer.camera);
    }
    init();
    document.getElementById('changeMapButton').addEventListener('click', toggleMapStyle);
    
    document.querySelectorAll('input[name="toggle"]').forEach((elem) => {
        elem.addEventListener('change', function(event) {
            const selectedValue = event.target.value;
            console.log("Radio button selected value: ", selectedValue);
            if (selectedValue === '1') {
                org[2] = -lz;
            } else {
                // Optionally reset org[2] to its default value when it's not 1
                org[2] = 0;
            }
            init();
            render();        
        });
    });

</script>
</body>
</html>